---
name: auto-assign
# yamllint disable-line rule:truthy
on:
  pull_request:
    types:
      - opened
      - ready_for_review

jobs:
  assign:
    if: ${{ !startsWith(github.event.pull_request.head.ref, 'renovate') }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          path: ./.github/actions/composite-actions
      - uses: ./.github/actions/composite-actions/auto-assign
